<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       
                  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
             
     <welcome-file-list>
     	<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
     </welcome-file-list>     
     
     <!-- 로그인 -->
     <servlet>
     	<servlet-name>login</servlet-name>
     	<servlet-class>com.min.edu.controller.LoginServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>login</servlet-name>
     	<url-pattern>/loginServlet.do</url-pattern>
     </servlet-mapping>
     
     <!-- 회원 상세 정보(마이페이지) -->
     <servlet>
     	<servlet-name>userInfo</servlet-name>
     	<servlet-class>com.min.edu.controller.UserInfoServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>userInfo</servlet-name>
     	<url-pattern>/userInfo.do</url-pattern>
     </servlet-mapping>
     <!-- 서버사이드는 / 유알엘은 ./  -->
        
     <!-- 회원정보 수정폼/수정입력 -->
     <servlet>
     	<servlet-name>userModify</servlet-name>
     	<servlet-class>com.min.edu.controller.UserModifyServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>userModify</servlet-name>
     	<url-pattern>/userModifyServlet.do</url-pattern>
     </servlet-mapping>
     
     <!-- 회원탈퇴 -->
     <servlet>
     	<servlet-name>delUser</servlet-name>
     	<servlet-class>com.min.edu.controller.DelUserServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>delUser</servlet-name>
     	<url-pattern>/delUserServlet.do</url-pattern>
     </servlet-mapping>
     
     <!-- 회원가입 -->
     <servlet>
     	<servlet-name>regist</servlet-name>
     	<servlet-class>com.min.edu.controller.RegistServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>regist</servlet-name>
     	<url-pattern>/registServlet.do</url-pattern>
     </servlet-mapping>
     
     
     <!-- 아이디 중복 검사 -->
     <servlet>
     	<servlet-name>duplicateId</servlet-name>
     	<servlet-class>com.min.edu.controller.DuplicateServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>duplicateId</servlet-name>
     	<url-pattern>/duplicateId.do</url-pattern>
     </servlet-mapping>
          
     <!-- 회원상태조회 --> 
     <servlet>
     	<servlet-name>userListState</servlet-name>
     	<servlet-class>com.min.edu.controller.UserListStateServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>userListState</servlet-name>
     	<url-pattern>/userListState.do</url-pattern>
     </servlet-mapping>  
     
     <!-- 회원정보조회(사용계정) -->   
     <servlet>
     	<servlet-name>userListServlet</servlet-name>
     	<servlet-class>com.min.edu.controller.UserListServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>userListServlet</servlet-name>
     	<url-pattern>/userListServlet.do</url-pattern>
     </servlet-mapping> 
                  
                  
     <!-- 권한 수정 -->
     <servlet>
     	<servlet-name>authUpdate</servlet-name>
     	<servlet-class>com.min.edu.controller.AuthUpdateServlet</servlet-class>
     </servlet>
     <servlet-mapping>
     	<servlet-name>authUpdate</servlet-name>
     	<url-pattern>/authUpdate.do</url-pattern>
     </servlet-mapping> 
     
                  
     <!-- filter 클래스 작성 -->
     <filter>
     	<filter-name>accessFilter</filter-name>
     	<filter-class>com.min.edu.filter.AccessFilter</filter-class>
     	<init-param>
     		<param-name>excludeURL</param-name>
     		<param-value>/loginServlet.do,/registServlet.do,/js/login.js,/duplicateId.do</param-value>
     	</init-param>
     </filter>
     <filter-mapping>
     	<filter-name>accessFilter</filter-name>
     	<url-pattern>/*</url-pattern>
     </filter-mapping>
     
     <error-page>
     	<error-code>500</error-code>
     	<location>/WEB-INF/views/err/500.html</location>
     </error-page>
</web-app>
